body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.tempAlert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: green;
  color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background-color: gray;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-logo {
  height: 50px;
  width: auto;
  padding-right: 20px;
}

.links-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links-navbar a, .links-navbar a:link, .links-navbar a:visited, 
.links-navbar a:hover, .links-navbar a:focus, .links-navbar a:active {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 0;
  border-bottom: 3px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.links-navbar a:hover {
  color: #1ABC9C;
  border-color: #1ABC9C;
}

.btn-theme {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-theme:hover {
  background-color: #2980b9;
}

h2 {
  text-align: center;
}

.container-form {
  max-width: 500px;
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  background-color: #f7f8fa;
  border: 1px solid #ccd0d5;
  border-radius: 8px;
  transition: border-color 0.2s ease-in-out;
}

.input-form:focus {
  border-color: #007bff;
  outline: none;
}

label {
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}

.btn-form {
  width: 80%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s;
  margin: auto;
  display: block;
}

.btn-form:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.success-message {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 10;
  width: calc(80% - 40px);
}

.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  max-width: 300px;
}

.card:hover {
  border-color: rgb(206, 217, 142);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}

.img-doc {
  width: 80%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.container-card-detail {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-detail {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  color: #000;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.img-doc-detail {
  width: 40%;
  margin-bottom: 20px;
}

.btn-back {
  width: 30%;
  padding: 10px;
  background-color: rgb(196, 218, 255);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.btn-back:hover {
  background-color: rgb(178, 206, 255);
  cursor: pointer;
}

.container-favs {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

.fav-empty {
  font-size: 3rem;
  text-align: center;
}

.active {
  background-color: #f9eb28;
}

td, th {
  border: 1px solid #e5e5e5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e5e5e5;
}

#dark {
  background-color: #3B4C5A;
  color: #ecf0f1;
}

#dark .container-form, #dark .card, #dark .card-detail{
  background-color: #2C3E50;
  border-color: #475a72;
  color: #ecf0f1;
}
#dark .btn-back {
  background-color: (196, 218, 255);
}

#dark .nav, #dark {
  background-color: #2C3E50;
}

#dark .favButton, #dark .removeFav {
  background-color: #3498db;
  color: #f1f1f1;
}

#dark .favButton:hover, #dark .removeFav:hover {
  background-color: #2980b9;
}

#dark .links-navbar a, #dark .links-navbar a:hover {
  color: #ecf0f1;
}

#dark .btn-theme:hover {
  background-color: #2980b9;
}

.card a,
.card a:link,
.card a:visited,
.card a:hover,
.card a:focus,
.card a:active,
.card h4,
.card h5,
.card p {
  color: inherit;
  text-decoration: none;
}

.card .dentist-name:hover,
.card .dentist-name:focus {
  color: inherit;
}

.no-favs {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

.Error_404 {
  display: flex;
  width: 500px;
  height: auto;
  margin: 20px auto;
}
footer {
  background-color: gray;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 3rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 2rem;
}

footer .DhLogo {
  display: flex;
}

footer .DhLogo p {
  width: 100%;
}

footer .DhLogo img {
  width: 100%;
  height: 100%;
}

footer .social-media {
  width: 200px;
  height: 50px;
}

footer .social-media img {
  width: 30px;
  padding-right: 20px;
}

footer .social-media img:hover {
  cursor: pointer;
  transform: scale(1.15);
}

#dark .nav, #dark .footer {
  background-color: #212A32;
  color: white;
}

#dark footer a, #dark footer a:visited {
  color: white;
}

#dark footer a:hover {
  color: #1ABC9C;
}
